.container {
  height: 281px;
  border: 2px solid #C7C7C7;
  width:500px;
  margin-bottom: 5px;
}

header .help{
  display: none;
}
@media screen and (max-width:640px){
  body{
    padding: 0;
    margin: 0;
  }
  header {
    height:48px;
  }
  header .help{
    display: block;
    float:right;
    background: #fff;
    color:#888;
    padding: 6px;
    border-radius: 4px;
    margin-top: -6px;
  }
  header h2{
    margin: 0;
    padding: 13px 4px;
    font-weight: normal;
    background: #4CAF50;
    color: #fff;
    font-size: 18px;
  }
  header>p {
    display: none;
  }
  .container {
    width: 100%;
    border:0;
    border-bottom:  2px solid #C7C7C7;
    height: 0;
    padding-bottom: 56.25%;
  }
}
